.box {
  color: #fe33ac;
  border-color: #fdcdea;
  width: 100px;
  padding: 20px;
}
.box div {
  -moz-box-shadow: 0 0 8px #dcdcdc;
  -webkit-box-shadow: 0 0 8px #dcdcdc;
  box-shadow: 0 0 8px #dcdcdc;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
